body {
    background-image: linear-gradient(to top left, #6a6a6a, #ababab);
    margin: 0;
    padding: 10px 40px 40px;
    font-family: sans-serif;
}
#output{
    height: 85%;
    width: 100%;
    outline:0;
}
#input {
    height: 10%;
    width: 100%;
    outline: 2px solid #0060df;
}
#input:read-only{
    outline:0;
}

.halfblock {
    width: 50%;
    height: 95%;
}
.info{
    text-align:center;
    font-family: "Calibri Light", serif;
}
.container {
    display: flex;
    height: 76vh;
}
textarea {
    border-color: #c1c1c1;
    margin:2px;
    padding:10px;
    background-color: #252525;
    color:white;
    resize:none;
    white-space: pre-wrap;
}
button{
    margin:2px;
    padding: 10px 60px;
    background-color: #252525;
    color:white;
}
button:hover{
    background-color: #353535;
}
button:active{
    background-color: #5f5f5f;
}
button:disabled{
    background-color: #252525;
    color: #5f5f5f;
}
a {
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}